<p align="center">
    <strong>{{ name }}</strong> • {{ description }}
</p>

<p align="center">
    <a href="https://www.npmjs.com/package/@chialab/{{ dashCase name }}"><img alt="NPM" src="https://img.shields.io/npm/v/@chialab/{{ dashCase name }}.svg?style=flat-square"></a>
</p>

---

## Install

```sh
$ npm i @chialab/{{ dashCase name }} -D
$ yarn add @chialab/{{ dashCase name }} -D
```

## Usage

```js
import '@chialab/{{ dashCase name }}';

```

---

## License

**{{ name }}** is released under the [MIT](https://github.com/chialab/rna/blob/main/packages/{{ dashCase name }}/LICENSE) license.
